@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root
{
    /* ### Primary */
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* ### Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--White);
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: auto, 30%;
    height: 100vh;
}
.container
{
    display: flex;
    flex-direction: column;
}
header h1
{
    color: var(--Very-Dark-Magenta);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
    margin: 2rem 2.5rem 1rem 2rem;
}
header p
{
    margin: 0 1.5rem 2rem;
    text-align: center;
    font-weight: 500;
    color: var(--Dark-Grayish-Magenta);
}
.starscontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}
.stars
{
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    width: 90%;
    height: 4rem;
    padding: 0.5rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    text-align: center;
    align-items: center;
}
.fivestars
{
    margin-bottom: 0.2rem;
}
.cardscontainer
{
    margin: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cards
{
    background-color: var(--Very-Dark-Magenta);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 1rem;
    padding-bottom: 2rem;
}
.cards img
{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    text-align: center;
    margin: 1rem;
    grid-row: 1/3;
}
.name
{
    font-weight: 700;
    color: var(--White);
    padding-top: 1rem;
}
.status
{
    color: var(--Soft-Pink);
}
.cards p
{
    grid-column: 1/3;
    color: var(--Light-Grayish-Magenta);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media(min-width: 1220px)
{
    body
    {
        margin: 5rem;
        margin-bottom: 0;
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;
        background-size: auto, auto;
        height: 100vh;
    }
    .container
    {
        flex-direction: row;
        padding: 0 4rem;
    }    
    header
    {
        width: 40%;
    }
    header h1
    {
        font-size: 3em;
        margin-left: 1rem;
        height: 50%;
        width: 80%;
        text-align: left;
        line-height: 1.03;
    }
    header p
    {
        margin-left: 1rem;
        width: 80%;
        font: 2rem;
        text-align: left;
    }
    .starscontainer
    {
        margin-top: 2rem;
        padding-top: 2rem;
        width: 60%;
    }
    .stars
    {
        width: 50%;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .star1
    {
        align-self: flex-start;
    }
    .star2
    {
        width: 55%;
    }
    .star3
    {
        align-self: flex-end;
    }
    .cardscontainer
    {
        margin-top: 2rem;
        flex-direction: row;
        padding: 0 3rem;
    }
    .cards
    {
        height: 60%;
    }
    .card2
    {
        margin-top: 1rem;
    }
    .card3
    {
        margin-top: 2rem;

    }

}